<h3>Take Operator: </h3>
<p>Description: </p>
<p>Takes the first n values from the source, then completes.
</p>
<div>
  <h5>Examples 1: </h5>
  <p>
    const source = of(1, 2, 3, 4, 5);
    <br>
    <br>
    const example = source.pipe(take(1));
    <br>
    <br>
    example.subscribe(val => console.log(val));
    <br>
    .subscribe() --->
    <br>
    1
  </p>
</div>
<div>
  <h5>Examples 2: </h5>
  <p>
    const intervalCount = interval(1000);
    <br>
    <br>
    const takeFive = intervalCount.pipe(take(5));
    <br>
    <br>
    takeFive.subscribe(x => console.log(x));
    <br>
    .subscribe() --->
    <br>
    0
    <br>
    1
    <br>
    2
    <br>
    3
    <br>
    4
  </p>
</div>
