<h3>Share Operator: </h3>
<p>Description: </p>
<p>Returns a new Observable that multicasts (shares) the original Observable. As long as there is at least one Subscriber
this Observable will be subscribed and emitting data. When all subscribers have unsubscribed it will unsubscribe from
the source Observable. Share source among multiple subscribers.
</p>
<div>
  <h5>Examples 1: </h5>
  <p>
    const source = of([1,2,3]);
    <br>
    <br>
    const example = source.pipe(
    <br>
    &nbsp;tap(() => console.log('***Side Effect***')),
    <br>
    &nbsp;delay(2000)
    <br>
    );
    <br>
    <br>
    const subscribe = example.subscribe(val => console.log(val));
    <br>
    const subscribeTwo = example.subscribe(val => console.log(val));
    <br>
    <br>
    const sharedExample = example.pipe(share());
    <br>
    <br>
    setTimeout(() => &#123;
    <br>
    &nbsp;const subscribeThree = sharedExample.subscribe(val => console.log(val));
    <br>
    &nbsp;const subscribeFour = sharedExample.subscribe(val => console.log(val));
    <br>
    &#125;, 3000)
    <br>
  </p>
</div>
