<h3>Of Observable: </h3>
<p>Description: </p>
<p>Converts the arguments to an observable sequence.
  Unlike <strong style="color: red">from</strong>, it does not do any flattening and emits each argument
  in whole as a separate next notification.
</p>
<div>
  <h5>Examples 1: </h5>
  <p>of ( 10, 20, 30 )<br>
    .subscribe() --->
    <br>
    next: 10
    <br>
    next: 20
    <br>
    next: 30
  </p>
</div>
<div>
  <h5>Examples 2: </h5>
  <p>of ( [ 10, 20, 30 ] )<br>
    .subscribe() ---> next: (3) [10, 20, 30]
    <br>
    Returns full array
  </p>
</div>
<div>
  <h5>Examples 3: </h5>
  <p>of ('Hello World')<br>
    .subscribe() --->
    <br>
    next: Hello World
  </p>
</div>
