<h3>Combine Latest Observable: </h3>
<p>Description: </p>
<p>
  Combines multiple Observables to create an Observable whose values are calculated
   from the latest values of each of its input Observables.
</p>
<strong>Be aware that combineLatest will not emit an initial value until each observable emits at least one
  value.</strong>
  <br>
<div>
  <h5>Examples 1: </h5>
  <p>
  const firstTimer = timer(0, 1000); // emit 0, 1, 2... after every second, starting from now
  <br>
  const secondTimer = timer(500, 1000); // emit 0, 1, 2... after every second, starting 0,5s from now
  <br>
  const combinedTimers = <strong>combineLatest</strong>(firstTimer, secondTimer);
  <br>
  combinedTimers.subscribe(value => console.log(value));
  </p>
  <p>
    (2) [0, 0]
    <br>
    (2) [1, 0]
    <br>
    (2) [1, 1]
    <br>
    (2) [2, 1]
    <br>
    (2) [2, 2]
    <br>
    (2) [3, 2]
    <br>
    (2) [3, 3]
    <br>
    (2) [4, 3]
  </p>
</div>
<div>
  <h5>Examples 2: </h5>
  <strong>This example will not emit an initial value until each observable emits at least one value.</strong>
  <p>@ViewChild('button1', &#123; static: false &#125;) btn1: ElementRef;</p>
  <p>@ViewChild('button2', &#123; static: false &#125;) btn2: ElementRef;</p>
  <p>@ViewChild('button3', &#123; static: false &#125;) btn3: ElementRef;</p>
  <p>const btn1Clicks = fromEvent(this.btn1.nativeElement, 'click');</p>
  <p>const btn2Clicks = fromEvent(this.btn2.nativeElement, 'click');</p>
  <p>const btn3Clicks = fromEvent(this.btn3.nativeElement, 'click');</p>
  <p>
    <strong>combineLatest</strong>( btn1Clicks, btn2Clicks, btn3Clicks ).subscribe(value => console.log(value));
  </p>
  <div>
    <button #button1 class="btn btn-lg btn-primary mr-3">1</button>
    <button #button2 class="btn btn-lg btn-primary mr-3">2</button>
    <button #button3 class="btn btn-lg btn-primary">3</button>
  </div>
</div>
<div>
  <h5>Examples 3: </h5>
  <form [formGroup]="combineLatestForm">
    <input class="mr-3" formControlName="textInput1">
    <input class="mr-3" formControlName="textInput2">
    <input class="mr-3" formControlName="textInput3">
  </form>
</div>
