<h3>Tap Operator: </h3>
<p>Description: </p>
<p>Perform a side effect for every emission on the source Observable, but return an Observable that is identical to the source.
  Tap does not transform values.
</p>
<div>
  <h5>Examples 1: </h5>
  <p>
    const source = of(1, 2, 3, 4, 5);
    <br>
    <br>
    const example = source.pipe(
    <br>
    &nbsp; tap(val => console.log(`BEFORE MAP: $&#123; val &#125;`)),
    <br>
    &nbsp; map(val => val + 10),
    <br>
    &nbsp; tap(val => console.log(`AFTER MAP: $&#123; val &#125;`))
    <br>
    );
    <br>
    example.subscribe(val => console.log(val)) --->
    <br>
    <br>
    BEFORE MAP: 1
    <br>
    AFTER MAP: 11
    <br>
    11
    <br>
    <br>
    BEFORE MAP: 2
    <br>
    AFTER MAP: 12
    <br>
    12
    <br>
    <br>
    BEFORE MAP: 3
    <br>
    AFTER MAP: 13
    <br>
    13
    <br>
    <br>
    BEFORE MAP: 4
    <br>
    AFTER MAP: 14
    <br>
    14
    <br>
    <br>
    BEFORE MAP: 5
    <br>
    AFTER MAP: 15
    <br>
    15
  </p>
</div>
