<h3>Zip Observable: </h3>
<p>Description: </p>
<p>Combines multiple Observables to create an Observable whose values are calculated from the values, in order, of each of
its input Observables.
</p>
<div>
  <h5>Examples 1: </h5>
  <p>age$ = of(27, 25, 29);<br>
     name$ = of('Foo', 'Bar', 'Beer');<br>
     isDev$ = of(true, true, false);<br>
    <br>
    zip(age$, name$, isDev$).subscribe() --->
    <br>
    [27, "Foo", true]
    <br>
    [25, "Bar", true]
    <br>
    [29, "Beer", false]
  </p>
</div>
<div>
  <h5>Examples 2: </h5>
  <p>//emit every 1s
    <br>
    const source = interval(1000);
    <br>
    <br>
    //when one observable completes no more values will be emitted
    <br>
    const example = zip(source, source.pipe(take(4)));
    <br>
    <br>
    example.subscribe() --->
    <br>
    [0, 0]
    <br>
    [1, 1]
    <br>
    [2, 2]
    <br>
    [3, 3]
  </p>
</div>
