<h3>Scan Operators: </h3>
<p>Description: </p>
<p>It's like reduce, but emits the current accumulation whenever the source emits a value.
</p>
<div>
  <h5>Examples 1: </h5>
  <p>
    const source = of(1, 2, 3);
    <br>
    const example = source.pipe(scan((acc, curr) => acc + curr, 0));
    <br>
    example.subscribe(val => console.log(val)); --->
    <br>
    <br>
    1
    <br>
    3
    <br>
    6
  </p>
</div>
<div>
  <h5>Examples 2: </h5>
  <p>
    const source = of('1', '2', '3');
    <br>
    const example = source.pipe(scan((acc, curr) => acc + curr, 'a'));
    <br>
    example.subscribe(val => console.log(val)); --->
    <br>
    <br>
    a1
    <br>
    a12
    <br>
    a123
  </p>
</div>
