<h3>WithLatestFrom Operator: </h3>
<p>Description: </p>
<p>withLatestFrom combines each value from the source Observable (the instance) with the latest values from the other input
Observables only when the source emits a value. All input Observables must emit at least one value before the output Observable will emit a
value.
</p>
<div>
  <h5>Code: </h5>
  <p>
    color$ = new Subject();
    <br>
    logo$ = new Subject();
    <br>
    color$.pipe(withLatestFrom(logo$))
    <br>
    .subscribe(([color, logo]) => console.log(`$&#123;color&#125; shirt with $&#123;logo&#125;`));
  </p>
</div>
<div>
  <h5>Examples 1: </h5>
  <p>
    color$.next('white');
    <br>
    logo$.next('fish');
    <br>
    color$.next('green');
    <br>
    logo$.next('dog');
    <br>
    color$.next('red');
    <br>
    logo$.next('bird');
    <br>
    color$.next('blue'); --->
    <br>
    <br>
    green shirt with fish
    <br>
    red shirt with dog
    <br>
    blue shirt with bird
  </p>
</div>
<div>
  <h5>Examples 2: </h5>
  <p>
    logo$.next('fish');
    <br>
    color$.next('white');
    <br>
    color$.next('green');
    <br>
    logo$.next('dog');
    <br>
    color$.next('red');
    <br>
    logo$.next('bird');
    <br>
    color$.next('blue'); --->
    <br>
    <br>
    white shirt with fish
    <br>
    green shirt with fish
    <br>
    red shirt with dog
    <br>
    blue shirt with bird
  </p>
</div>
<div>
  <h5>Examples 3: </h5>
  <p>
    color$.next('white');
    <br>
    color$.next('green');
    <br>
    logo$.next('dog');
    <br>
    color$.next('red');
    <br>
    logo$.next('bird');
    <br>
    color$.next('blue'); --->
    <br>
    <br>
    red shirt with dog
    <br>
    blue shirt with bird
  </p>
</div>
