<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="row m-3">
  <div class="col-4">
    <ul>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('of')">Of</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('from')">From</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('from-event')">From Event</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('combine-latest')">Combine Latest</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('concat')">Concat</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('merge')">Merge</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('start-with')">Start With</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('with-latest-from')">With Latest From</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('zip')">Zip</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('debounce-time')">Debounce Time</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('distinct-until-changed')">Distinct Until Changed</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('filter')">Filter</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('take')">Take</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('take-until')">Take Until</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('buffer-time')">Buffer Time</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('map')">Map</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('merge-map')">Merge Map</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('concat-map')">Concat Map</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('switch-map')">Switch Map</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('scan')">Scan</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('tap')">Tap</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('share')">Share</li>
    </ul>
  </div>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
</div>
