<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="row m-3">
  <div class="col-4">
    <ul>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('of')">Of</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('from')">From</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('from-event')">From Event</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('combine-latest')">Combine Latest</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('concat')">Concat</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('merge')">Merge</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('start-with')">Start With</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('with-latest-from')">With Latest From</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('zip')">Zip</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('debounce-time')">Debounce Time</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('distinct-until-changed')">Distinct Until Changed</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('filter')">Filter</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('take')">Take</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('take-until')">Take Until</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('buffer-time')">Buffer Time</li>
      <li style="cursor: pointer;" class="py-2" (click)="changeMenu('concat-map')">Concat Map</li>
    </ul>
  </div>
  <div class="col-8">
    <div *ngIf="currentMenu == 'of'">
      <app-of></app-of>
    </div>
    <div *ngIf="currentMenu == 'from'">
      <app-from></app-from>
    </div>
    <div *ngIf="currentMenu == 'from-event'">
      <app-from-event></app-from-event>
    </div>
    <div *ngIf="currentMenu == 'combine-latest'">
      <app-combine-latest></app-combine-latest>
    </div>
    <div *ngIf="currentMenu == 'concat'">
      <app-concat></app-concat>
    </div>
    <div *ngIf="currentMenu == 'merge'">
      <app-merge></app-merge>
    </div>
    <div *ngIf="currentMenu == 'start-with'">
      <app-start-with></app-start-with>
    </div>
    <div *ngIf="currentMenu == 'with-latest-from'">
      <app-with-latest-from></app-with-latest-from>
    </div>
    <div *ngIf="currentMenu == 'zip'">
      <app-zip></app-zip>
    </div>
    <div *ngIf="currentMenu == 'debounce-time'">
      <app-debounce-time></app-debounce-time>
    </div>
    <div *ngIf="currentMenu == 'distinct-until-changed'">
      <app-distinct-until-changed></app-distinct-until-changed>
    </div>
    <div *ngIf="currentMenu == 'filter'">
      <app-filter></app-filter>
    </div>
    <div *ngIf="currentMenu == 'take'">
      <app-take></app-take>
    </div>
    <div *ngIf="currentMenu == 'take-until'">
      <app-take-until></app-take-until>
    </div>
    <div *ngIf="currentMenu == 'buffer-time'">
      <app-buffer-time></app-buffer-time>
    </div>
    <div *ngIf="currentMenu == 'concat-map'">
      <app-concat-map></app-concat-map>
    </div>
  </div>
</div>
