<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="row m-3">
  <div class="col-6">
    <app-of></app-of>
  </div>
  <div class="col-6">
    <app-from></app-from>
  </div>
  <p>It is important to note the difference between <strong style="color: red">of</strong> and <strong style="color: red">from</strong>
    when passing an array-like structure (including strings):
    <br>
    <span style="background-color: lightgray; padding: 10px; line-height: 50px;">Observable.of([1, 2, 3]).subscribe(x => console.log(x));</span>
    <br>
    would print the whole array at once.

    On the other hand,
    <br>
    <span style="background-color: lightgray; padding: 10px; line-height: 50px;">Observable.from([1, 2, 3]).subscribe(x => console.log(x));</span>
    <br>
    prints the elements 1 by 1.
    <br>
    For strings the behaviour is the same, but at character level.
  </p>
</div>
<div class="row m-3">
  <div class="col-6">

  </div>
  <div class="col-6">

  </div>
</div>
