<h3>Distinct Until Changed Operator: </h3>
<p>Description: </p>
<p>It's like filter, but just emits the values that are distinct from the previous.</p>
<div>
  <h5>Examples 1: </h5>
  <p>of (1, 1, 2, 2, 2, 1, 1, 2, 3, 3, 4).pipe(
    <br>
    distinctUntilChanged(),
    <br>
  )
  <br>
  .subscribe() --->
  <br>
  1
  <br>
  2
  <br>
  1
  <br>
  2
  <br>
  3
  <br>
  4
  </p>
</div>
<div>
  <h5>Examples 2: DISTINCTUNTILCHANGED WITH OBJECTS</h5>
  <p>const sampleObject = &#123; name: 'Test' &#125;;<br>
    <br>
    const source$ = from([sampleObject, sampleObject, sampleObject]);
    <br>
    <br>
    source$
    <br>
    .pipe(distinctUntilChanged())
    <br>
    .subscribe(x => console.log(x)); --->
    <br>
    <br>
    &#123; name: 'Test' &#125;
  </p>
</div>
<div>
  <h5>Examples 3: USING CUSTOM COMPARER FUNCTION</h5>
  <p>const source$ = from([
  <br>
  &#123; name: 'Brian' &#125;,
  <br>
  &#123; name: 'Joe' &#125;,
  <br>
  &#123; name: 'Joe' &#125;,
  <br>
  &#123; name: 'Sue' &#125;
  <br>
  ]);
  <br>
  <br>
    .subscribe() --->
    <br>
    <br>
    &#123; name: 'Brian' &#125;
    <br>
    &#123; name: 'Joe' &#125;
    <br>
    &#123; name: 'Sue' &#125;
  </p>
</div>
