<h3>From Event Observable: </h3>
<p>Description: </p>
<p>
  Creates an Observable from DOM events, or Node.js EventEmitter events or others.
</p>
<div>
  <h5>Examples 1: </h5>
  <p>@ViewChild('fromEventElement', &#123; static: false &#125;) el: ElementRef;</p>
  <p>const mouseClicks = fromEvent(el.nativeElement, 'click');</p>
  <p>
    const subscription = mouseClicks.subscribe((evt: MouseEvent) => &#123;<br> &nbsp; this.clickCount++; <br>&#125;);
  </p>
  <div>
    <button #fromEventElement class="btn btn-lg btn-primary mr-3">Click: {{ clickCount }}</button>
    <button #ResetButton class="btn btn-lg btn-primary">Reset</button>
  </div>
</div>
