<h3>Merge Observable: </h3>
<p>Description: </p>
<p>Merge subscribes to each given input Observable (as arguments), and simply forwards (without doing any transformation)
all the values from all the input Observables to the output Observable. The output Observable only completes once all
input Observables have completed. Any error delivered by an input Observable will be immediately emitted on the output
Observable..
</p>
<div>
  <h5>Examples 1: </h5>
  <p>
    let obs1 = from(['1','2','3']);
    <br>
    let obs2 = from(['4', '5', '6']);
    <br>
    merge(obs1,obs2).subscribe() --->
    <br>
    1
    <br>
    2
    <br>
    3
    <br>
    4
    <br>
    5
    <br>
    6
  </p>
</div>
<div>
  <h5>Examples 2: Merge together 3 Observables, but only 2 run concurrently</h5>
  <p>
  const timer1 = interval(1000).pipe(take(4));
  <br>
  const timer2 = interval(2000).pipe(take(2));
  <br>
  const timer3 = interval(500).pipe(take(4));
  <br>
  const concurrent = 2; // the argument
  <br>
  const merged = merge(timer1, timer2, timer3, concurrent);
  <br>
  merged.subscribe() --->
  <br>
  0
  <br>
  1
  <br>
  0
  <br>
  2
  <br>
  3
  <br>
  1
  <br>
  0
  <br>
  1
  <br>
  2
  <br>
  3
  <br>
  <br>
  // Results in the following:
  <br>
  // - First timer1 and timer2 will run concurrently
  <br>
  // - timer1 will emit a value every 1000ms for 10 iterations
  <br>
  // - timer2 will emit a value every 2000ms for 6 iterations
  <br>
  // - after timer1 hits it's max iteration, timer2 will
  <br>
  // continue, and timer3 will start to run concurrently with timer2
  <br>
  // - when timer2 hits it's max iteration it terminates, and
  <br>
  // timer3 will continue to emit a value every 500ms until it is complete
  </p>
</div>
