<h3>Buffer Time Operator: </h3>
<p>Description: </p>
<p>Collects values from the past as an array, and emits those arrays periodically in time.
</p>
<div>
  <h5>Examples 1: </h5>
  <p>
    const source = interval(500);
    <br>
    <br>
    const example = source.pipe(bufferTime(2000));
    <br>
    <br>
    example.subscribe(val => console.log('Buffered with Time:', val) --->
    <br>
    Buffered with Time: [0]
    <br>
    Buffered with Time: [1 , 2]
    <br>
    Buffered with Time: [3 , 4]
    <br>
    Buffered with Time: [5 , 6]
  </p>
</div>
